.swatch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 64px;
  padding: 8px;
  word-break: break-all;
  border-radius: 4px;
  font-family: "Consolas", "Monaco", Courier, monospace;
  text-align: center;
}
