.table {
  table-layout: fixed;
  border-collapse: collapse;

  &__column-header {
    padding: 16px;
    font-weight: normal;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #ccc;

    &--empty {
      border-right-color: #ccc;
    }
  }

  &__row-header {
    padding: 16px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #eee;
  }

  &__cell {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

    &:hover {
      background: #f3f3f3;
    }
  }
}
