.table {
  table-layout: fixed;
  border-collapse: collapse;

  &__column-header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 16px;
    font-weight: normal;
    box-shadow: inset 0 -1px 0 0 #ccc, inset -1px 0 0 0 #eee;
    background: #fff;

    &--empty {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      width: 160px;
      height: 96px;
      box-shadow: inset 0 -1px 0 0 #ccc, inset -1px 0 0 0 #ccc;
    }
  }

  &__row-header {
    position: sticky;
    left: 0;
    z-index: 1;
    padding: 16px;
    box-shadow: inset 0 -1px 0 0 #eee, inset -1px 0 0 0 #ccc;
    background: #fff;
  }

  &__cell {
    box-shadow: inset 0 -1px 0 0 #eee, inset -1px 0 0 0 #eee;

    &:hover {
      background: #f3f3f3;
    }
  }
}
